/* This is a sample stylesheet for use with CETEIcean. It is not intended    */
/* to be comprehensive. The rules here are largely derived from earlier work */
/* on TEI Boilerplate                                                        */
 
/* language support */
/* render Arabic, Persian, Ottoman, Hebrew  as rtl */
[lang = "ar"],
[lang = "ota"], 
[lang = "fa"], 
[lang = "he"],
[lang *="-Arab-AR"]{
    direction:rtl;
    text-align:right;
}
/* display latin scripts as ltr  */
[lang = "en"],
[lang = "fr"],
[lang = "de"],
[lang = "it"],
[lang *="ar-Latn-"],
[lang *="ota-Latn-"]{
    direction:ltr;
    text-align:left;
}
tei-del[hand=TEliot] {
    text-decoration-color: #ef476f;
}

tei-add[hand=TEliot], tei-note[hand=TEliot] {
    color: #ef476f;
    text-decoration-color:  #ef476f;
}
tei-hi[hand=TEliot] {
    text-decoration-color:  #ef476f;
    border-color: #ef476f !important;
}
tei-del[hand=Pound], tei-hi[hand=Pound] {
    text-decoration-color: #118ab2 !important;
    border-color: #118ab2 !important;
}
tei-add[hand=Pound], tei-note[hand=Pound],  tei-note[hand=Pound] tei-p {
    color: #118ab2;
    text-decoration-color:  #118ab2;
}
tei-del[hand=VEliot], tei-hi[hand=VEliot] {
    text-decoration-color: #06d6a0 !important;
    border-color: #06d6a0 !important;
}
tei-add[hand=VEliot], tei-note[hand=VEliot] {
    color: #06d6a0;
    text-decoration-color:  #06d6a0;
}
/* Choice elements */
tei-choice tei-abbr + tei-expan:before,
tei-choice tei-expan + tei-abbr:before,
tei-choice tei-sic + tei-corr:before,
tei-choice tei-corr + tei-sic:before,
tei-choice tei-orig + tei-reg:before,
tei-choice tei-reg + tei-orig:before {
  content: " (";
}
tei-choice tei-abbr + tei-expan:after,
tei-choice tei-expan + tei-abbr:after,
tei-choice tei-sic + tei-corr:after,
tei-choice tei-corr + tei-sic:after,
tei-choice tei-orig + tei-reg:after,
tei-choice tei-reg + tei-orig:after {
  content: ")";
}
/* A */
tei-ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-accMat {
  display: block;
}
tei-accMat:before {
  content: "accompanying materials: ";
}
tei-acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
tei-activity {
  display: block;
}
tei-activity:before {
  content: "activity: ";
}

tei-add {
 font-weight: bolder;
}

tei-del > tei-add, tei-add > tei-del {
 text-decoration: line-through;
}

tei-hi + tei-add[place=above] {
 bottom: 1.3em;
}

tei-add[place=above] {
  vertical-align: super;
  position: relative;
  display: inline-block;
  bottom: 0.6em;
}
tei-add[place=doubleAbove] {
  vertical-align: super;
  position: relative;
  display: inline-block;
  bottom: 2em;
}
tei-add[place~=below] {
  vertical-align: text-top;
  display: inline-block;
  margin-bottom: -3em;
  line-height: 3.5em
}

tei-add[place~=footer] {
  position: relative;
}

tei-add[place~=footer]::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  position: absolute;
}

body > tei-tei #add-13 {
 width: 110%;
}

#add-24::after {
  top: -4.8em;
  left: -3em;
  content: "                            ";
}
    

tei-add[place=margin-right] {
  display: inline-block;
  margin-left: 2em;
}
tei-add[place~=margin-left][place~=above] {
  line-height: 0em;
  vertical-align: super;
}
tei-add[place=margin-right][rend=linking-line]::before {
  margin-left: 12em;
  content:"                    ";
  white-space: pre;
  text-decoration: line-through;
}
tei-add[place=inline] {
  margin: 0px !important;
  padding: 0px !important;
  line-height: inherit !important;
}
tei-add[place=inline]::after {
  white-space: normal!important;
}
tei-add[place=margin-right-inline] {
  display: inline-block;
}
tei-add[place=margin-right-inline][rend=linking-line]::before {
  display: inline-block;
  margin-left: 0.5em;
  content:"                    ";
  white-space: pre;
  text-decoration: line-through;
}
tei-add[place~=margin-left] {
  text-align: right;
  display: inline-block;
  width: 3em;
  padding-right:0.5em;
  margin-left: -3em;
}

tei-add[place~=margin-left][rend~=linking-line]::after {
  display: inline-block;
  margin-left: 0.5em;
  content: attr(data-before);
  white-space: pre;
  text-decoration: line-through;
  vertical-align: text-bottom;
}

tei-add[place=margin-left][rend~=linking-line][rend~=diagonal] {
  line-height: 10em;
  vertical-align: text-top;
  margin-bottom: -8.5em;
}

tei-additional {
  display: block;
}
tei-additions {
  display: block;
}
tei-additions:before {
  content: "Significant additions within the document: ";
}
tei-addrLine {
  display: block;
}
tei-address[data-tei-rend~="block"], addresss[data-tei-rendition~="#block"] {
  display: block;
}
tei-adminInfo {
  display: block;
}
tei-app tei-note{
  display: none;
}
tei-appInfo {
  display: block;
}
tei-appInfo:before {
  content: "Application information: ";
}
tei-application {
  display: block;
}
tei-application:after {
  content: " " attr(version);
}
tei-argument {
  display: block;
}
tei-att {
  font-family: Courier,monospace;
}
tei-att:before {
  content: "@";
}
tei-titlestmt > tei-author {
  display: block;
  margin-bottom: 1em;
}
tei-publicationstmt > tei-availability {
  font-size: 80%;
}
tei-publicationstmt > tei-availability:before {
  font-weight: bold;
  content: "Availability: ";
}
tei-publicationstmt > tei-availability[data-tei-status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
/* B */
tei-back {
  display: block;
}
tei-bibl[data-tei-rend~="block"], bibl[data-tei-rendition~="#block"] {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
tei-biblFull {
  display: block;
}
tei-binding {
  display: block;
}
tei-binding:before {
  content: "Binding: \a";
  white-space: pre-wrap;
}
tei-binding[data-tei-contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
tei-bindingdesc {
  display: block;
}
tei-bindngdesc:before {
  content: "Binding description: \A";
}
tei-birth {
  display: block;
}
tei-birth:before {
  content: "Birth: ";
}
/* c */
tei-cRefPattern {
  display: none;
}
tei-caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-case[data-tei-value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
tei-castgroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-castitem {
  display: list-item;
}
tei-castlist {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
tei-cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-cb:before {
  content: "[column break]";
}
tei-cell {
  border-right: thin solid black;
  border-bottom: thin solid black;
  padding: 2px;
}
/* for cell or row with @role = label */
tei-cell[data-tei-role=label] {
  font-weight: bold;
}
tei-climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-climate:before {
  font-weight: bold;
  content: "Climate: ";
}
tei-code {
  font-family: Courier,monospace;
}
tei-collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
tei-constitution[data-tei-type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-constitution[data-tei-type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
tei-constitution[data-tei-type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-constitution[data-tei-type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
tei-custevent {
  display: list-item;
}
tei-custodialhist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* d */
tei-date[data-tei-when]:empty:before {
  content: attr(when);
}
/* e */
tei-editionstmt {
  display:block;
}
teieg-egxml {
  display: block;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #aaaaaa;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
tei-emph {
  font-style: italic;
}
tei-encodingdesc {
  display: none;
}
tei-epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-explicit {
  font-style: italic;
}
tei-filedesc > tei-extent {
  display: none;
}
/* f */
tei-figure {
  display: block;
  position: fixed;
  text-align: left;
  float:left;
  height: calc(100vh - 139px);
  width:40vw;
  margin-top: -37.5px;
  overflow: scroll;
  background-color: #45505F !important;
  border: solid 0.5px #C8CBCE;
  -webkit-box-shadow: -2px 1px 4px 0px #999; 
  box-shadow: -2px 1px 4px 0px #999;
}
tei-figure img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit:cover;
}
/* g */
tei-gap[data-tei-reason='lost']:before {
  content:'[';
}
tei-gap[data-tei-reason='lost']:after {
  content: attr(data-content) ']';
}
tei-gap[data-tei-reason='illegible']:after {
  content: attr(data-content);
}
tei-gi {
  font-family: Courier,monospace;
}
tei-gi:before {
  content: "<";
}
tei-gi:after {
  content: ">";
}
/* h */
tei-head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}

#page-i {
  display:block;
}

#page-i tei-head {
  padding-top: 2em;
  width: 20em;
  margin-left: 2em !important;
}
body > tei-tei #page-i tei-quote > tei-p {
    white-space: pre;
    line-height: 0.8em;
    overflow-y: hidden;
    padding-bottom: 263px;
}
section > tei-head {
    text-align: center;
    line-height: 2em;
    margin-left: -11.5em
}
tei-body > tei-head {
  text-indent: -0.5em;
}
tei-div.textpart {
  display: none;
}
tei-div > tei-div > tei-head {
  font-size: 100%;
}
tei-div > tei-div > tei-div > tei-head {
  font-size: 140%;
}
tei-div > tei-div > tei-div > tei-div > tei-head, list > tei-head {
  font-size: 130%;
}
tei-div > tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 120%;
}
tei-div > tei-div > tei-div > tei-div > tei-div > tei-div tei-head {
  font-size: 110%;
}
tei-figure > tei-head {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Georgia, Serif;
  font-size: 13pt;
}

tei-hi[rend~="circled"], tei-hi[rend="circledExceptAbove"], tei-hi[rend="circledExceptLeft"], tei-hi[rend="circledExceptRight"], tei-hi[rend="circledExceptBelow"] {
    display: inline-block;
}
tei-hi[rend="circledExceptLeft"] {
    border-left: none!important ;
}
tei-hi[rend="circledExceptRight"] {
    border-right: none!important;
}
tei-hi[rend="circledExceptAbove"] {
    border-top: none !important;
}

tei-hi[rend="circledExceptBelow"] {
    border-bottom: none !important;
}

tei-hi[rend="circled"] > tei-lg {
    padding-bottom: 0px!important;
}
tei-ident {
  font-family: Courier,monospace;
}
tei-incipit {
  font-style: italic;
}
tei-item {
  display: list-item;
  margin-left: 1em;
}
tei-cell item {
  margin-left: 1em;
}

/* j */

/* l */
tei-l[data-lineno]:before {
  content: attr(data-lineno);
  position: absolute;
  left: 2em;
}
tei-lb:after, tei-l:after {
  content: '\a';
  white-space: pre;
  line-height: 100%;
}
tei-list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  list-style-type: none;
}
tei-item > tei-list {
  margin-top: 0;
}
tei-sourcedesc tei-list {
  list-style-type: none;
}
tei-sourcedesc > tei-list > tei-head {
  font-size: 140%;
  font-weight: bold;
}
tei-sourcedesc tei-list > tei-item {
  display: list-item;
}
/* Match only lists that are descendants of
tei-text. Otherwise they show up in the header. */
tei-text tei-list[type=simple] {
  list-style-type: none;
}
tei-text tei-list[type=bulleted] {
  list-style-type: disc;
}
tei-text tei-list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
}
tei-text tei-list[type=ordered] > tei-item {
  display: list-item;
  margin-left: 0;
}
tei-item > tei-list[type=ordered] {
  margin-left: 1em;
}
tei-text tei-list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
tei-text tei-list[type=gloss] {
  list-style-type: none;
}
tei-list[type="gloss"] > tei-label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
tei-list[type="gloss"] > tei-item {
  margin-left: 2em;
}
tei-item > tei-list[type=ordered] {
  margin-left: 1em;
}
tei-listapp {
  display: block;
  margin: 1em;
  padding: 1em;
}
tei-listbibl {
  display:block;
  list-style-type: none;
  margin-left: .5 em;
  margin-top: .5em;
}
tei-listbibl > tei-head {
  font-size: 120%;
  font-weight: bold;
}
tei-listbibl > tei-bibl {
  display: list-item;
  margin-left: .5em;
}
tei-listwit {
  display:block;
  list-style-type: none;
  margin-left: .5em;
}
tei-listwit > tei-head {
  font-size: 120%;
  font-weight: bold;
}
tei-listwit > tei-witness {
  display: list-item;
  margin-left: 2em;
  text-indent: -1.1em;
}
tei-witness > tei-listwit {
  display: inline;
}
tei-witness > tei-listwit > tei-head {
  display: inline;
}
tei-witness > tei-listwit > tei-witness {
  display: inline;
}
tei-locus {
  display: none;
}

/* m */
tei-milestone {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
tei-musicNotation {
  font-weight: bold;
}
tei-musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
/* n */
tei-node {
  display: none;
}
tei-note{
 white-space: nowrap;
}
tei-note tei-del {
   text-decoration: line-through;
}
tei-note tei-del[rend=central-deletion] {
    background-image: url('https://thewwwasteland.github.io/The-Waste-Land-Original-Drafts/images/pound-centralDel.png');
    text-decoration: underline!important;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;

}
tei-notesstmt {
  display: none;
}
/* o */
tei-ovar {
  font-style: italic;
}
tei-origPlace {
  font-weight: bold;
}
tei-origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}

/* p */
tei-p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
*[data-tei-rendition~="#center"] p {
  text-align: center;
}
tei-availability > p:first-child {
  margin-top: 0em;
}
tei-performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-postscript {
  display: block;
  margin-top: 2em;
}
tei-principal {
  font-weight: bold;
}
tei-principal:before {
  font-weight: bold;
  content: "Principal: ";
}
tei-profiledesc {
  display: none;
}
tei-publicationstmt > * {
  display: none;
}
tei-publicationstmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-publicationstmt > date {
  display: none;
}
tei-publicationstmt > publisher {
  display: none;
}

/* q */
tei-q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
tei-q:before {
  content: "";
}
tei-q:after {
  content: "";
}
tei-q[data-tei-next]:after {
  content: "" !important;
}
tei-q[data-tei-prev]:before {
  content: "" !important;
}
tei-quote {
  font-style: normal;
  margin-left: calc(40vw + 5em);
}

/* r */
tei-re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-recordhist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-ref a {
 text-decoration: none;
 color: inherit;
}
tei-remarks {
  font-weight: bold;
}
tei-remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
tei-respstmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-revisiondesc {
  display: none;
}
tei-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

/* s */
tei-salute {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-samplingdecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-scriptnote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-seal:before {
  font-weight: bold;
  content: "Seal: ";
}
tei-sealdesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
tei-secl>*:first-child:before {
  content: "\a[";
  white-space: pre;
}
tei-secl>*:last-child:after {
  content: "]\a\a";
  white-space: pre;
}
tei-seg {
  outline: 0px solid transparent;
}
tei-sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-seriesstmt {
  display: none;
}
tei-setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-signed {
  display: block;
  margin-top: 2em;
}
tei-soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
tei-soCalled:before {
  content: open-quote;
}
tei-soCalled:after {
  content: close-quote;
}
tei-soCalled[data-tei-next]:after {
  content: "" !important;
}
tei-soCalled[data-tei-prev]:before {
  content: "" !important;
}
tei-sound {
  font-style: italic;
}
tei-source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-sourcedesc {
  display: none;
}
tei-space:before {
  font-weight: bold;
  content: "";
}
tei-span[data-tei-data-n]:before {
  content: attr(data-n);
}
tei-speaker {
  font-weight: bold;
  margin-right: 0;
}
tei-sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
tei-sponsor:before {
  font-weight: bold;
  content: "Sponsor:";
}
tei-stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
tei-stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
tei-stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}

tei-surplus>*:first-child:before {
  content: "\a[";
  white-space: pre;
}
tei-surplus>*:last-child:after {
  content: "]\a\a";
  white-space: pre;
}
/* t */
tei-tei {
  display: block;
  opacity: 0.2;
}
tei-table {
  display: block;
  border-top: thin solid black;
  border-left: thin solid black;
}
tei-table {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
tei-table > tei-head {
  border-bottom: thin solid black;
  border-right: thin solid black;
  font-size: 120%;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}
tei-teiheader {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}
tei-tei > tei-text {
  display: block;
  line-height: 1.5;
}
tei-textclass {
  display: none;
}
tei-textdesc {
  display: none;
}
/* title */
tei-tei tei-title {
  display: inline;
}
tei-tei tei-title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
tei-tei tei-title[level=a]:before {
  content: open-quote;
}
tei-tei tei-title[level=a]:after {
  content: close-quote;
}
tei-tei tei-title[level=a][next]:after {
  content: "" !important;
}
tei-tei tei-title[level=a][prev]:before {
  content: "" !important;
}
tei-title[level=m] {
  font-style: italic;
}
tei-titlestmt > tei-title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
tei-typedesc {
  display: none;
}
/* u */
tei-u:before {
  content: "-";
}
tei-view {
  font-style: italic;
}
tei-wit {
  display: inline;
}
tei-witdetail {
  display:none;
}

/* styles for HTML shell and HTML elements in TEI (e.g.,<a> and <img>) */
html > body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  margin-left: 28px;
  margin-right: 28px;
  padding: 2.5em;
  font-family: "Lucida Grande", "Cardo", "Arial Unicode MS","Galilee Unicode Gk", "New Athena Unicode", "Athena Unicode", "Palatino Linotype", "Titus Cyberbit Basic", "Vusillus Old Face", "Alphabetum", "Galatia SIL", "Code 2000", "GentiumAlt", "Gentium", "Minion Pro", "GeorgiaGreek", "Vusillus Old Face f", "Everson Mono", "Aristarcoj", "Porson", "Legendum", "Aisa Unicode", "Hindsight Unicode", "Caslon", "Verdana", "Tahoma";
  font-size: 10.5pt;
  color: #333333;
  background-color: #f5f7fa;
}

tei-line, tei-l {
    white-space: pre;
    width: 25em;
}
tei-l > span {
    margin-left: -5em;
    margin-right: 4em;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #d1c0a8;
    z-index: 1;
}
tei-l[n="1"] > span, tei-l[n="5"] > span {
    margin-right: 4.5em !important;
}


/* TOTALLY NEW CSS */

[rend~=doubleLetterSpacing] {
 letter-spacing: 0.5em;
}
tei-p{
  display: block;
  padding-left: 3em
}
tei-text {
    padding-top: 60px;
}
.nbar {
    background: #2c3840;
}
.bar {
  display:block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-left: -4.5em !important;
  margin-top: -1em !important;
  padding-left: calc(50% - 200px);
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
}
.nbar ul {
  list-style-type: none;
  display: block;
  margin-right: 1em;
  padding-bottom: 5px;
}

.nbar ul li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.low-bar {
    padding-left: calc(50% - 340px);
    height: 55px;
    margin-left: -4.5em !important;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 100;
    color: #d1c0a8;
}

.right {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    white-space: pre;
    margin-left: 1em;
    float: left;
    border-radius: 3px;
    border: solid 0.5px #086a6e;
}
li img {
    width: 40px;
    margin-right: 0px !important;
    padding-top: 0.4em;
}
tei-body tei-div {
    display: none;
    margin-top: -40px;
    padding-top: 40px;
}
.arrows {
    opacity: 0.5
}
.arrows:hover {
    opacity: 1
}
.interline {
    line-height: 1.7em !important;
}
.highlight {
    border: solid 3px !important;
    border-radius: 8px;
}

.squared {
   border: solid 3px !important;
   border-radius: 0.5px;
}

.squaredExceptAbove {
   border: solid 3px !important;
   border-radius: 0.5px;  
   border-top: none !important;
}

.squaredExceptLeft {
   border: solid 3px !important;
   border-radius: 0.5px;  
   border-left: none !important;
}

.squaredExceptRight {
   border: solid 3px !important;
   border-radius: 0.5px;  
   border-right: none !important;
}

.rightBorder {
   border-right: solid 3px !important;
   display: inline-block;
}

#pound-1-hi-pic {
  margin-bottom: -2.7em;
  height: 3em;
}

img[data-origid=pound-2-hi-pic] {
  height: 3em;
  margin-bottom: -1.05em;
  margin-left: -3.5em;
  margin-top: -1em;
}

#pound-3-hi-pic {
   height: 3em;
   margin-left: 18.5em;
}

#pound-3-hi {
    position: relative;
    margin-bottom: -3em;
    display: block;
    height: 3em;
}

img[data-origid=pound-4-hi-pic] {
    height: 12.5em;
    margin-bottom: -10.5em;
    margin-left: 0em;
    margin-top: -0.2em;
}

img[data-origid=pound-5-hi-pic] {
    height: 8.5em;
    margin-bottom: -7.2em;
    margin-left: -4.3em;
    margin-right: -1em;
}

img[data-origid=pound-6-hi-pic] {
    height: 7em;
    margin-bottom: -6em;
    margin-left: 0.5em;
}

#pound-7-hi-pic {
    max-width: 8.5em;
    max-height: 5.4em;
    margin-bottom: -4em;
    margin-left: -2.6em;
    margin-top: -0.3em;
}

#pound-8-hi-pic {
    height: 11em;
    margin-bottom: -10em;
    margin-left: -5em;
}

#add-i {
 display: inline-block;
 font-size: 75%;
 margin-left: 10em;
 margin-top: -1em;
}
body > tei-tei tei-add[data-origid=add-38] {
    margin-left: -3.2em;
    padding-right: 1.1em;
}
[rend=largerFirstLetter]::first-letter {
    font-size: 130%;
}   

tei-del {
    display: inline-block;
}

.total-del {
    background-image: url('https://thewwwasteland.github.io/The-Waste-Land-Original-Drafts/images/bg.png');
}

#note-1 {
    position: absolute;
    text-decoration: line-through;
    text-decoration-color: #ef476f;
    text-align:right;
    left: 470px;
    top: 299px;
    display: inline-block;
    line-height: 0.8em;
}        

#note-2 {
    position: absolute;
    text-align: right;
    top: 342px;
    left: 498px;
    line-height: 1.5em;
    display: inline-block;
}
#note-3 {
   position: relative;
   top: -465px;
   left: 410px;
   display: inline-block;
}

#note-4 {
   display: inline-block;
   position: absolute;
   top: 986px;
   left: 542px;
}

#note-8 {
    position: absolute;
    top: 93px;
    left: 420px;
    line-height: 1em;
    display: inline-block;
}
#note-9 {
    position: absolute;
    top: 225px;
    left: 548px;
    line-height: 1em;
    display: inline-block;
    width: 0.1px;
    height: 0.1px;
}

#note-10 {
  position: absolute;
  margin-left: 281px;
  top: 377px;
  display: inline-block;
  white-space: pre;
  line-height: 1em;
}

#note-10::before {
   position: absolute;
   content: attr(data-before);
   text-decoration: line-through;
   transform: rotate(-90deg);
   left: -163px;
   margin-top: 69px;
}

#note-11 {
  left: 40px;
  position: absolute;
  margin-top: -732px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  display: inline-block;
}
#note-12 {
  position: absolute;
  top: 619px;
  left: 435px;
  display: inline-block;
  transform: rotate(-10deg);
}
#note-13 {
  position: absolute;
  left: 71px;
  display: inline-block;
  top: 681px;
}
#note-14 {
  top: 725px;
  position: absolute;
  left: 419px;
}
#note-15 {
  left: 448px;
  position: absolute;
  top: 932px;
  display: inline-block;
}
#note-16 {
   position: absolute;
   left: 544px;
   top: 898px;
   display: inline-block;
   line-height: 1em;
}
#note-17 {
 position: absolute;
 display: inline-block;
 line-height: 1em;
 left: 30px;
 top: 980px;
}
#note-18 {
  display: inline-block;
  position: absolute;
  left: 450px;
  top: 1020px;
}
#note-19 {
   position: absolute;
   display: inline-block;
   line-height: 0.8em;
   left: 20px;
   top: 1212px;
}
#note-20 {
   position: absolute;
   display: inline-block;
   left: 389px;
   top: 1181px;
}

#note-21 {
  position: absolute;
  display: inline-block;
  top: 155px;
  left: 410px;
}

#note-22 {
 position: absolute;
 display: inline-block;
 top: 230px;
 left: 580px;
}

#note-23 {
  position: absolute;
  display: inline-block;
  top: 320px;
  left: 430px;
}

#note-24 {
    position: absolute;
    display: inline-block;
    letter-spacing: 0.5em;
    top: 430px;
    left: -126px;
}

#note-25 {
    position: absolute;
    display: inline-block;
    top: 590px;
    left: 366px;
}

#note-26 {
    position: absolute;
    display: inline-block;
    top: 233px;
    letter-spacing: 0.5em;
    left: 71px;
}

#note-27 {
    position: absolute;
    top: 451px;
    left: 57px;
    letter-spacing: 0.5em;
}

#note-28 {
    top: 641px;
    left: 115px;
    position: absolute;
    display: inline-block;
    letter-spacing: 0.5em;
} 
#note-29 {
    position: absolute;
    display: inline-block;
    top: 664px;
    left: 524px;
    font-size: 200%;
}
#note-30 {
    position: absolute;
    display: inline-block;
    left: -20px;
    top: 716px;
}
#note-30::before {
    content: "------------>";
    position: absolute;
    display: inline-block;
    top: 39px;
    left: 127px;
}
#note-31 {
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 982px;
}
#note-31::before {
    content: "===";
    position: absolute;
    display: inline-block;
    left: 150px;
    top: 25px;
    font-size: 20px;
}
#note-32 {
    display: inline-block;
    position: absolute;
    left: 91px;
    top: 1121px;
}

#note-33 {
    display: inline-block;
    position: absolute;
    left: 567px;
    top: 788px;
    line-height: 1em;
}
#note-33::before {
    position: absolute;
    display: inline-block;
    content: "                               ";
    white-space: pre;
    text-decoration: line-through;
    top: 29px;
    left: -121px;
}
#note-34 tei-p {
    left: 246px;
    position: absolute;
    top: 293px;
    letter-spacing: 0.1em;
}
#note-35 {
    position: absolute;
    left: 64px;
    top: 325px;
}
activeFinalV #hi-33::before {
    white-space: pre;
    content: " ";
    display: inline-block;
    position: absolute;
    text-decoration: line-through;
    color: #118ab2;
    left: 93px;
    top: 604px;
}
.line-del {
   text-decoration: line-through;
   text-decoration-thickness: 2px;
}
* {box-sizing: border-box;}
.central-del {
   text-decoration:none!important;
   background-image: url('../images/pound-centralDel.png');
}
tei-graphic {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #333;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 130px;
  height: 130px;
}    

.hidden {
    display: none !important;
}
#back-1 {
    position: relative;
    width: 11em;
    left: 20em;
    top: -57em;
    height: 325px;
}
#pound-marks {
    position: absolute;
    display: inline-block;
    top: 900px;
    left: 360px;
    width: 80px;
}
#marks-1 {
    position: relative;
    left: 7em;
    top: -48em;
    height: 50px;
}
    
tei-lg, section {
    display: block;
    padding-bottom: 1.5em;
}
tei-lg[type=stanza] {
    width: 25em;
}

tei-body section {
      height: calc(100vh - 129px);
      overflow: scroll;
      position: absolute;
      margin-left: 40vw;
      padding-left: 7.5em;
      margin-top: -3.5em;
      padding-top: 5em;
      width: calc(100% - 40vw - 127px);
      background-color: #fff;
      -webkit-box-shadow: 2px 1px 4px 0px #999; 
      box-shadow: 2px 1px 4px 0px #999;
}
#poemPage05 {
    padding-left: 12.5em;
}

body > tei-tei #page-i section {
    display: block;
    overflow: scroll;
    padding-top: 55px;
    position: fixed;
    left: calc(40vw + 64px);
    width: calc((100% - 40vw) - 127px);
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 178px);
}

#page-i tei-quote {
    margin-top: 4em;
}

#poemPage03 tei-head:first-child, #poemPage05 tei-head:first-child{
    line-height: 3.5em;
}



.bolder {
  cursor: pointer;
  font-weight: 600;
}
#sectionTitle {
 width: 16.5em;
}
#pageList, #secList {
  list-style-type: none;
  background-color: white;
  border-radius: 3px;
  border: solid 0.5px #333;
  z-index:1001;
}
#pageList li, #secList li {
    display: block;
}
#pageList li:hover, #secList li:hover {
  background-color: #f9f9f9
}
#pageList {
    position:absolute;
    bottom: 3em;
    left: calc(50% - 39px);
    width: 3.6em;
}
#secList {
    position:absolute;
    bottom: 3em;
    left: calc(50% - 274px);
    width: 15em;
}
#pageList ul, #secList ul {
  margin: 0;
  padding: 0;
}
.underline {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
tei-note[rend=doubleUnderline], .doubleUnderline {
    text-decoration-line: underline;
    text-decoration-style: double;
}
#note-5 {
    display: inline-block;
    position: absolute;
    left: 555px;
    top: 412px;
    transform: rotate(338deg);
}

#note-6 {
    display: inline-block;
    position: absolute;
    top: 500px;
    left: 535px;
    line-height: 1em;
    transform: rotate(-15deg);
}

#note-7 {
    display: inline-block;
    position: absolute;
    left: 401px;
    top: 675px;
}

tei-note[rend~=diagonal], tei-add[rend~=diagonal], .diagonal {
    transform: rotate(-35deg);
    padding:0;
}
tei-note[rend~=diagonal] > tei-p {
    transform: rotate(-15deg);
    padding:0;
}
tei-add[rend~=vertical], .diagonal, tei-note[rend~=vertical] > tei-p, .vertical {
    transform: rotate(-90deg);
}

#hi-2 {
    border: 3px solid #333;
}

#button-notes-list {
    left: calc(40vw + 66px);
    width: calc(60vw - 124.5px);
    position: fixed;
    top: 85.5px;
    z-index: 700;
}

#button-notes-list ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

#button-notes-list li {
    display: inline-block;
    width: 33.33%;
    background-color: #f2f2f2;
    color: #2c3840;
    padding: 8px;
    border: solid 1pt #2c3840;
    margin-left: -3.5px;
}

#button-notes-list li:first-child {
    text-decoration: underline;
    text-decoration-color: #ef476f;
    text-decoration-thickness: 3px;
} 

#button-notes-list li:nth-child(2) {
    text-decoration: underline;
    text-decoration-color: #118ab2;
    text-decoration-thickness: 3px;
} 

#button-notes-list li:nth-child(3) {
    text-decoration: underline;
    text-decoration-color: #06d6a0;
    text-decoration-thickness: 3px;
} 


.zoom-button {
  display: block;
  position: fixed;
  text-align: left;
  float:left;
  height: calc(100vh - 156px);
  width: calc(40vw - 17px);
  top: 85px;
  left: 62px;
  z-index: 100;
}

.zoom-button > img {
    max-width: 32px;
    max-height: 32px;
    display: inline-block;
    position: fixed;
    bottom: 90px;
    opacity: 0;
    z-index:800;
}
.zoom-button > div {
    display: inline-block;
    position: relative;
    left: -20%;
    margin-right: -20%;
    top: -20px;
    z-index: 801;
    background-color: rgba(51, 51, 51, 0.6);
    width: 20%;
    text-align: center;
    color: white;
    padding: 6.5px 0px;
    cursor: pointer;
}
.thumbnail {
    position: relative !important;
    top: 10px;
    max-width: 300px !important;
    max-height: 300px !important;
    width: 20% !important;
    opacity: 1 !important;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.thumb {
    left: 75px;
}
.zoom-in {
    left: 140px;
}

.zoomout {
    left: 110px;   
}

.zoom-button:hover > img {
  opacity: 0.6;
}

.zoom-button > img:hover {
  opacity: 1;
}

.loader {
  position: absolute;
  z-index: 1;
  left: calc(50% - 80px);
  top: calc(50% - 30px);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaded tei-tei {
 animation: loaded 1s forwards;
}

@keyframes loaded {
 from {opacity: 0.2}
 to {opacity: 1}
}

/*compare*/

#singlePageDIV {
    position: fixed;
    height: calc(100vh - 139px);
    border: solid 0.5px #C8CBCE;
}

#singlePageDIV tei-head, #singlePageDIV tei-lg, #singlePageDIV section, #singlePageDIV tei-p {
   margin-left: 0px!important;
} 

#singlePageDIV section {
    box-shadow: -2px 1px 4px 0px #999;
    width: calc(40vw - 1px);
    top: 11px;
    height: calc(100vh - 141px);
}

#singlePageDIV #page-i tei-head, #onlytextDIV #page-i tei-head {
    margin-top: -3.55em;
    margin-left: 2em !important;
    z-index: 0;
}

#singlePageDIV #page-i {
    display: block;
    position: fixed;
    overflow: scroll;
    width: calc(40vw - 0.5px);
    top: 86px;
    padding-top: 165px;
    height: calc(100vh - 141px);
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(200, 203, 206);
    box-shadow: rgb(153 153 153) -2px 1px 4px 0px;
}

#singlePageDIV #page-i-content {
    margin-top: -166px;
    padding-top: 145px;
}

#singlePageDIV tei-p {
    white-space: pre;
    line-height: 1em;
}
#onlytextDIV tei-p {
    white-space: pre;
    line-height: 0.8em;
    overflow: hidden;
    margin-left: -70px;
}
li.right:hover {
    background-color: #4f6f84;
}

#onlytextDIV {
    background-color: white;
    -webkit-box-shadow: 6px 4px 12px 0px #999;
    box-shadow: 6px 4px 12px 0px #999;
}

#onlytextDIV #page-i-content {
    margin-left: 0 !important;
    width: auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: auto !important;
    overflow: inherit !important;
    box-shadow: none !important;
}